<br>
<%= simple_form_for @cost do |f| %>
  <div class="col">
    <%= f.input :simples, label: false, placeholder: 'Simples Nacional' %>
  </div>
  <div class="col">
    <%= f.input :debito, label: false, placeholder: 'Débito' %>
  </div>
  <div class="col">
    <%= f.input :credito, label: false, placeholder: 'Crédito' %>
  </div>
  <div class="col">
    <%= f.input :parcelado, label: false, placeholder: 'Parcelado' %>
  </div>
  <%= f.submit "Salvar", class: 'btn btn-primary btn-block' %>
<% end %>