<%= link_to 'Adicionar Fornecedor', new_manufacturer_path %>
<% @manufacturers.each do |manufacturer| %>
  <p><%= manufacturer.name %></p>
  <p><%= number_to_percentage(manufacturer.LG, precision: 2, separator: ',') %></p>
  <p><%= number_to_percentage(manufacturer.ICMS, precision: 2, separator: ',') %></p>
  <p><%= number_to_percentage(manufacturer.discount_1, precision: 2, separator: ',') %></p>
<% end %>