<br>
<p><%= link_to 'Adicionar / Listar Fornecedor(es)', new_manufacturer_path %></p>
<br>
<div class="container">
  <%= simple_form_for @price_list do |f| %>
    <%= f.association :manufacturer, collection: Manufacturer.order('name ASC'), label: 'Fornecedor' %>
    <%= f.simple_fields_for :skus do |g| %>
      <div class="row">
        <div class="col">
          <%= g.input :gtin, label: 'Referência' %>
        </div>
        <div class="col">
          <%= g.input :gross_price, label: 'Preço Bruto' %>
        </div>
        <div class="col">
          <%= g.input :ipi, label: 'IPI (não pode ser vazio!)' %>
        </div>
      </div>
    <% end %>
    <%= f.simple_fields_for :skus do |g| %>
      <div class="row">
        <div class="col">
          <%= g.input :gtin, label: 'Referência' %>
        </div>
        <div class="col">
          <%= g.input :gross_price, label: 'Preço Bruto' %>
        </div>
        <div class="col">
          <%= g.input :ipi, label: 'IPI (não pode ser vazio!)' %>
        </div>
      </div>
    <% end %>
    <%= f.simple_fields_for :skus do |g| %>
      <div class="row">
        <div class="col">
          <%= g.input :gtin, label: 'Referência' %>
        </div>
        <div class="col">
          <%= g.input :gross_price, label: 'Preço Bruto' %>
        </div>
        <div class="col">
          <%= g.input :ipi, label: 'IPI (não pode ser vazio!)' %>
        </div>
      </div>
    <% end %>
    <%= f.simple_fields_for :skus do |g| %>
      <div class="row">
        <div class="col">
          <%= g.input :gtin, label: 'Referência' %>
        </div>
        <div class="col">
          <%= g.input :gross_price, label: 'Preço Bruto' %>
        </div>
        <div class="col">
          <%= g.input :ipi, label: 'IPI (não pode ser vazio!)' %>
        </div>
      </div>
    <% end %>
    <%= f.simple_fields_for :skus do |g| %>
      <div class="row">
        <div class="col">
          <%= g.input :gtin, label: 'Referência' %>
        </div>
        <div class="col">
          <%= g.input :gross_price, label: 'Preço Bruto' %>
        </div>
        <div class="col">
          <%= g.input :ipi, label: 'IPI (não pode ser vazio!)' %>
        </div>
      </div>
    <% end %>
    <%= f.simple_fields_for :skus do |g| %>
      <div class="row">
        <div class="col">
          <%= g.input :gtin, label: 'Referência' %>
        </div>
        <div class="col">
          <%= g.input :gross_price, label: 'Preço Bruto' %>
        </div>
        <div class="col">
          <%= g.input :ipi, label: 'IPI (não pode ser vazio!)' %>
        </div>
      </div>
    <% end %>
    <%= f.simple_fields_for :skus do |g| %>
      <div class="row">
        <div class="col">
          <%= g.input :gtin, label: 'Referência' %>
        </div>
        <div class="col">
          <%= g.input :gross_price, label: 'Preço Bruto' %>
        </div>
        <div class="col">
          <%= g.input :ipi, label: 'IPI (não pode ser vazio!)' %>
        </div>
      </div>
    <% end %>
    <%= f.simple_fields_for :skus do |g| %>
      <div class="row">
        <div class="col">
          <%= g.input :gtin, label: 'Referência' %>
        </div>
        <div class="col">
          <%= g.input :gross_price, label: 'Preço Bruto' %>
        </div>
        <div class="col">
          <%= g.input :ipi, label: 'IPI (não pode ser vazio!)' %>
        </div>
      </div>
    <% end %>
    <%= f.simple_fields_for :skus do |g| %>
      <div class="row">
        <div class="col">
          <%= g.input :gtin, label: 'Referência' %>
        </div>
        <div class="col">
          <%= g.input :gross_price, label: 'Preço Bruto' %>
        </div>
        <div class="col">
          <%= g.input :ipi, label: 'IPI (não pode ser vazio!)' %>
        </div>
      </div>
    <% end %>
    <%= f.simple_fields_for :skus do |g| %>
      <div class="row">
        <div class="col">
          <%= g.input :gtin, label: 'Referência' %>
        </div>
        <div class="col">
          <%= g.input :gross_price, label: 'Preço Bruto' %>
        </div>
        <div class="col">
          <%= g.input :ipi, label: 'IPI (não pode ser vazio!)' %>
        </div>
      </div>
    <% end %>
    <br>
    <%= f.submit "Criar", class: 'btn btn-primary btn-block' %>
  <% end %>
</div>