<%= simple_form_for @manufacturer do |f| %>
  <%= f.input :name, label: 'Nome' %>
  <%= f.input :LG, label: 'Nota Fiscal' %>
  <%= f.input :ICMS, label: 'ICMS' %>
  <%= f.input :discount_1, label: 'Desconto 1' %>
  <%= f.input :discount_2, label: 'Desconto 2' %>
  <%= f.input :discount_3, label: 'Desconto 3' %>
  <%= f.input :discount_4, label: 'Desconto 4' %>
  <%= f.submit "Salvar", class: 'btn btn-success btn-block' %>
<% end %>
<br>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Nota Fiscal</th>
      <th scope="col">ICMS</th>
      <th scope="col">Desconto 1</th>
      <th scope="col">Desconto 2</th>
      <th scope="col">Desconto 3</th>
      <th scope="col">Desconto 4</th>
    </tr>
  </thead>
  <tbody>
    <% @manufacturers.each do |manufacturer| %>
      <tr>
        <td><%= link_to manufacturer.name, manufacturer_path(manufacturer) %></td>
        <td><%= number_to_percentage(manufacturer.LG, precision: 0, separator: ',') %></td>
        <td><%= number_to_percentage(manufacturer.ICMS, precision: 0, separator: ',') %></td>
        <td><%= number_to_percentage(manufacturer.discount_1, precision: 2, separator: ',') %></td>
        <td><%= number_to_percentage(manufacturer.discount_2, precision: 2, separator: ',') %></td>
        <td><%= number_to_percentage(manufacturer.discount_3, precision: 2, separator: ',') %></td>
        <td><%= number_to_percentage(manufacturer.discount_4, precision: 2, separator: ',') %></td>
      </tr>
    <% end %>
  </tbody>
</table>