<br>
<%= simple_form_for @manufacturer do |f| %>
  <div class="form-row">
    <div class="col">
      <%= f.input :name, label: 'Nome' %>
    </div>
    <div class="col">
      <%= f.input :LG, label: 'Nota Fiscal' %>
    </div>
    <div class="col">
      <%= f.input :ICMS, label: 'ICMS' %>
    </div>
    <div class="col">
      <%= f.input :discount_1, label: 'Desconto 1' %>
    </div>
    <div class="col">
      <%= f.input :discount_2, label: 'Desconto 2' %>
    </div>
    <div class="col">
      <%= f.input :discount_3, label: 'Desconto 3' %>
    </div>
    <div class="col">
      <%= f.input :discount_4, label: 'Desconto 4' %>
    </div>
  </div>
  <%= f.submit "Atualizar", class: 'btn btn-success btn-block' %>
<% end %>
<br>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Calculado</th>
      <th scope="col">Referência</th>
      <th scope="col">Custo Bruto</th>
      <th scope="col">Custo Líquido</th>
      <th scope="col">Preço de Venda</th>
    </tr>
  </thead>
  <tbody>
    <% @skus.each do |sku| %>
      <tr>
        <td><%= sku.created_at.strftime('%d/%m/%y') %></td>
        <td><%= sku.gtin %></td>
        <td><%= number_to_currency(sku.gross_price, precision: 2, separator: ',') %></td>
        <td><%= number_to_currency(sku.net_price, precision: 2, separator: ',') %></td>
        <td><%= number_to_currency(sku.sale_price, precision: 2, separator: ',') %></td>
      </tr>
    <% end %>
  </tbody>
</table>