<%= @manufacturer.name %>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Criado</th>
      <th scope="col">Referência</th>
      <th scope="col">Custo Bruto</th>
      <th scope="col">Custo Líquido</th>
    </tr>
  </thead>
  <tbody>
    <% @manufacturer_pricelists.each do |pricelist| %>
      <tr>
        <td><%= pricelist.created_at.strftime('%d/%m/%y') %></td>
        <td><%= pricelist.SKU1 %></td>
        <td><%= pricelist.gross_price1 %></td>
        <td><%= pricelist.net_price1 %></td>
      </tr>
    <% end %>
  </tbody>
</table>